.profile-view {
    width: 90%;
    padding: 20px;
    flex-grow: 1;
}

#photos {
    width: 60%;
    min-height: 86vh;
}

.carousel-photo {
    max-height: 80vh;
}

.profile-view-screen {
    display: flex;
}

.basic-details {
    background-color: var(--background);
    flex-grow: 0;
    flex-basis: 25%;
    padding: 10px;
}