.profile-form {
    background-color: var(--background);
    width: 50%;
    margin: auto;
    padding: 20px 100px;
    margin-top: 10px;
    border-radius: 30px;
}

.profile-form * {
    margin-bottom: 20px;
}

.profile-form-div {
    background-image: url("../../Assets/register-main.jpg");
    background-size: cover;
    padding: 1.5rem;
}