.register-form {
    background-color: var(--background);
    width: 50%;
    margin: auto;
    /* margin-top: 5vh; */
    /* margin-bottom: 10vh; */
    padding: 20px 100px;
    border-radius: 30px;
}

.register-form * {
    margin-bottom: 20px;
}

.register-form label {
    margin-right: 10px;
}

.register {
    background-image: url("../../Assets/register-main.jpg");
    background-size: cover;
    padding: 1.5rem;
}

/* .preview {
    width: 190px;
    height: 190px;
    border-radius: 90px;
} */