.register-form {
    background-color: var(--background);
    width: 50%;
    margin: auto;
    padding: 20px 100px;
    margin-top: 10px;
    border-radius: 30px;
}

.register-form * {
    margin-bottom: 20px;
}

.register-form label {
    margin-right: 10px;
}

/* .preview {
    width: 190px;
    height: 190px;
    border-radius: 90px;
} */